<div *ngIf="astronaughtArray else loading" id="astronaughtContainer">
    <div *ngFor="let astronaught of astronaughtArray.results" id="astroCard">
        
            <h4>{{astronaught.name}}</h4>
            <hr>
            <img [src]="astronaught.profile_image">
            <!-- <p>{{astronaught.age}}</p> -->
            <p>Date of Birth: {{astronaught.date_of_birth}}</p>
            <p>Status: {{astronaught.status.name}}</p>
            <p>Nationality: {{astronaught.nationality}}</p>
            <a *ngIf="astronaught.twitter" href="{{astronaught.twitter}}">
                Twitter 
            </a>
            <hr>
            <p>{{astronaught.bio}}</p>
    
    </div>
</div>
<ng-template #loading>
    <div>Loading Astronaughts...</div>
</ng-template>


