#astronaughtContainer{
    display: flex;
    font-family: 'Fira Code', monospace;
    /* font-size: 1rem; */
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: white;
    
}
#astroCard{
    background-color:#414A6D;
    /* background-color:#383158; */
    border: 2px solid white;
    
    color: #E8F1F2;
    width: 32%;
  padding-bottom: 12px;
  margin-bottom: 2%; /* (100-32*3)/2 */
  margin-top: 2%;
}
h4{
    font-size: 1.25rem;
}
img{
    width: 150px;
    height: 200px;
    object-fit: cover;
}
p,h4,img{
    margin: 0.4em;
    
}
p{
    font-family: 'Mina', sans-serif;
}