<div *ngFor="let astronaught of astronaughtArray.results" id="astroCard">
  <div id="imgDiv">
    <img [src]="astronaught.profile_image">
  </div>
  <!-- <p>{{astronaught.age}}</p> -->
  <div class='card-body'>
    <h3 class="astronaught-name">{{astronaught.name}}</h3>
    <p>Date of Birth: {{astronaught.date_of_birth}}</p>
    <p>Status: {{astronaught.status.name}}</p>
    <p>Nationality: {{astronaught.nationality}}</p>
    <a *ngIf="astronaught.twitter" href="{{astronaught.twitter}}">
      Twitter
    </a>

    <p class='astronaught-bio'>{{astronaught.bio}}</p>
  </div>
  <ng-template #loading>
    <div>Loading Astronaughts...</div>
  </ng-template>
</div>
