#astroCard {
  border: 1px rgb(27, 189, 238) solid;
  margin: 1.5rem;
  max-width: 250px;
  /* explanation below */
  flex: 1 0 21%;

}

#imgDiv {
  text-align: center;
}

#imgDiv img {
  object-fit: cover;
  width: 250px;
  height: 300px;
}

p {
  font-family: 'Mina', sans-serif;
}

.astronaught-name {
  text-align: center;
}

.card-body {
  padding: 1rem;
}

.astronaught-bio {
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

.astronaught-bio:hover {
  overflow: visible;
  white-space: normal;
}

.tooltip {
  width: 60%;
  visibility: hidden;
  background-color: #fff;
  padding: 20px;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.5s ease;
}


h1:hover+.tooltip {
  visibility: visible;
  transition: opacity 0.5s ease;
  opacity: 1;
}
