<header class="navbar" [ngClass]="{'fixed': isScrolled}">
  <div class='navbar-content'>
    <div class='logo wrapper-color'>
      <a routerLink='/' class='nav-link-logo'>Space Hub</a>
    </div>
    <nav class='nav'>
      <ul>
        <li class='nav-list'><a class='nav-link' routerLink='/'>Home</a></li>
        <li class='nav-list'><a class='nav-link' routerLink='/astronaughts'>Astronaughts</a></li>
        <li class='nav-list'><a class='nav-link' routerLink='/gallery'>Gallery</a></li>
        <li class='nav-list'><a class='nav-link' routerLink='/launch'>Launch</a></li>
      </ul>
    </nav>
  </div>
</header>
