.container {
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .card-body {
    padding: 1rem;
    padding-top: 0.25rem;
    color: white;
  }
  #imgDiv img {
    object-fit: cover;
    width: 250px;
    height: 300px;
  }
  #astroCard {
    border: 1px #072828 solid;
    margin: 1.5rem;
    max-width: 250px;
    /* explanation below */
    /* flex: 1 0 21%; */
    flex: 0 0 100px;
    background-color: #072828;
    background: rgba(0,0,0,0.25);
  }
  .article-title{
      color: #e59964;
      font-family: 'Fira Code', monospace;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
  }
  .article-summary{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .card-body>a{
      color:#00f7f7;
  }