/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #1F2937;
  color: #F3F4F6;
}


::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-thumb {
  background: #C2C2C2;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B1B2B5;
}

::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px 0px #F0F0F0;
}
